@font-face {
    font-family: 'adventure';
    src: url('assets/3Dventure.ttf');
}

*{
	color: #ededed;
    font-family: 'adventure';
}

p{
	font-size: 1.5rem;
	width: 2rem;
	margin-left: 1.2rem;
}

body{
	width: 100%;
	animation: waver 3s infinite;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

@keyframes waver{
	0%{
		background-color: #353535;
	}
	20%{
		background-color: #1c1c1c;
	}
	40%{
		background-color: #474747;
	}
	60%{
		background-color: #111111;	
	}
	80%{
		background-color: #474747;
	}
	100%{
		background-color: #1c1c1c;
	}
}

@keyframes rotate{
	0%{
		transform: rotateZ(0deg);
	}
	25%{
		transform: rotateZ(-3deg);
	}
	50%{
		transform: rotateZ(0deg);
	}
	75%{
		transform: rotateZ(3deg);
	}
	100%{
		transform: rotateZ(0deg);
	}
}

canvas{
    font-family: 'adventure';
	border: 1px solid rgba(35, 35, 35, 0.5);
	width: 800px;
	height: 600px;
	position: fixed;
	animation: rotate 3s infinite;
	left: calc(50% - 400px);
	top: 10px;
	margin-top: 10px;
}